body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #271632;

  margin: 0;
  font-family: "Baskerville", serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 755px;
  margin: 0 auto 80px;
  padding: 0.1em;
  text-align: center;
}

h1 {
  font-size: 60px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 32px;
  font-style: italic;
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border: none;
  margin: 14px;

  font-size: 1em;
  font-weight: 600;
  font-family: inherit;

  background-color: #f9f9f9;
  transition: all 0.25s;
}
button:hover {
  background-color: #aa82d1;
}

.sign-button {
  width: 180px;
  height: 90px;
  margin: 7px;
  border-radius: 16px;
}

section {
  border: 1px solid white;
  border-radius: 16px;
  background-color: #150d21;

  margin: 24px;
  padding: 10px 60px 30px;
}

img {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
  width: 100px;
}

p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.divider img {
  width: 20px;
  margin: 5px 20px;
}

.astroPic {
  width: 40%;
  -webkit-filter: none; /* Safari/Chrome */
  filter: none;
  border-radius: 20px;
  border: 2px solid white;
}

input {
  width: 200px;
  height: 30px;
  display: block;
  margin: 20px auto;

  font-family: "Baskerville", serif;
  font-size: 18px;
}
